.clothingContainer {
  display: grid;
  grid-template-columns: 100px, 1400px;
  grid-auto-flow: column;
  justify-content: center;
  color: #000;
  width: 100%;
  margin: auto;
  h1,
  p {
    text-align: center;
  }
}

.checkoutContainer {
  height: 100px;
  width: 170px;
  h2 {
    margin-left: 50px;
    font-size: 1.33rem;
  }
}

.itemContainer {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row;
  justify-content: center;
  height: auto;
  width: 1400px;

  p {
    font-size: 1.1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    color: #000;
    border-radius: 5px;
    min-width: 100%;
    button {
      margin: auto;
      width: 80%;
    }
    .preview {
      button {
        width: 80%;
      }
      img {
        object-fit: cover;
        height: 400px;
        border: 1px solid white;
        width: 420px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.22rem;
        font-weight: 600;
      }

      input {
        font-size: 1rem;
        height: 25px;
        width: 50px;
        padding: 2px;
        border: none;
        border-radius: 5px;
        background-color: #51559baa;
        filter: drop-shadow(0 0 0.2em #646cffaa);
        color: #000;

        &:focus {
          outline: none;
          border: none;
        }
      }

      p {
        font-weight: 300;
        text-align: left;
        font-size: 0.98rem;
      }
    }
  }
}

@media screen and (max-width: 1530px) {
  .clothingContainer {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    align-content: center;
    width: 90%;
    margin: auto;

    .itemContainer {
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1048px) {
  .itemContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 648px) {
  .itemContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    justify-content: center;
    align-content: center;
    width: 90%;
    img {
      width: 100%;
    }
  }
}
