.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    margin-top: 20px;
    position: relative;
    .modalButton {
        margin: auto;
        height: 60px;
        width: 170px;
        color: #fff;
        border: 1px solid rgb(243, 156, 170);
        background: rgb(255, 56, 92);
        &:hover {
            background:rgb(243, 156, 170);
        }
    }
}

.exercisesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}