.container {
    width: 80%;
    margin: auto;
    height: auto;
    position: relative;
    text-align: center;
    .modalButton {
        margin: auto;
        height: 60px;
        width: 170px;
        color: #fff;
        border: 1px solid rgb(243, 156, 170);
        background: rgb(255, 56, 92);
        &:hover {
            background:rgb(243, 156, 170);
        }
    }
}

.notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 712px) {
    .container {
        width: 100%;
    }
}