.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  height: 650px;
  width: 170px;

  h2 {
    font-size: 1.22rem;
  }

  h3 {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 1530px) {
  .container {
    height: 200px;
    width: auto;
    flex-direction: row;
  }
}

@media screen and (max-width: 712px) {
  .container {
    width: 100%;
  }
}
