.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 200px;
  padding: 5px 15px;
  border-radius: 5px;
  background: rgb(243, 156, 170);
  margin: 5px 5px auto;
  color: white;
  border: 2px solid rgb(255, 56, 92);

  input {
    width: 60%;
    height: 40px;
    margin: auto;
    background: #fff;
    outline: none;
    border: none;
    color: #000;
    font-size: 1.3rem;
  }
  button {
    color: white;
    border: 1px solid white;
    height: 50px;
  }
}

.set {
  border: 2px solid rgb(255, 56, 92);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.setItem:nth-child(1) {
  grid-row: 2/3;
  grid-column: 1/2;
}


.setItem:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.setItem:nth-child(4) {
  grid-row: 1/2;
  grid-column: 3/4;
}


.setItem:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}

.setItem:nth-child(5) {
  grid-row: 2/3;
  grid-column: 3/4;
}

.setMenu {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.setMenuItem:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.setMenuItem:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.setMenuItem:nth-child(3) {
  grid-column: 2/3;
}

.setMenuItem:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.setMenuItem:nth-child(5) {
  grid-column: 2/4;
  grid-row: 2/3;
}

@media screen and (max-width: 712px) {
  .container {
      width: 100%;
      margin: 10px 0px;
      padding: 0;
  }
}
