#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 100%;
}

button {
  background: transparent;
  border: 1px solid #000;
  font-size: 0.85rem;
  min-height: 30px;
  align-items: center;
  width: 110px;
  margin: 5px 10px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  color: #000;

  &:hover {
    cursor: pointer;
    color: hsl(272, 63%, 69%);
  }

  &:focus {
    background: #000;
    color: #fff;
  }
}

@media screen and (max-width: 712px) {
  #root {
    max-width: 100%;
  }
}